.usersPage {
    margin-bottom: 30px;
    height: 100vh;
}

.usersPageContent {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eachUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.userListHeader {
    margin-top: 0;
}

.userLink {
    color: black;
}

.userPage {
    margin-left: 20vw;
    margin-bottom: 30px;
    height: 100vh;
    padding-left: 5vw;
}

.aboutUser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userPic {
    height: 15vh;
    width: auto;
    border-radius: 5%;
}

.userName {
    margin-left: 2vw;
    font-size: 10vh;
}

.userHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.usersListContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
