.usersPage {
    margin-bottom: 30px;
    height: 100vh;
}

.usersPageContent {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eachUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.userListHeader {
    margin-top: 0;
}

.userLink {
    color: black;
}

.userPage {
    margin-left: 20vw;
    margin-bottom: 30px;
    height: 100vh;
    padding-left: 5vw;
}

.userHeader {
    display: flex;
    align-items: center;
}

.usersListContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
