.chatPage {
    height: 100vh;
    margin-left: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.chatTitle {
    margin-top: 10vh;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 80%;
    height: 65vh;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    border-radius: 2%;
}

#chatMessages {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: large;
    width: 100%;
    overflow: auto;
    padding-bottom: 20px;
}

.chatForm {
    width: stretch;
}

.chatBox {
    width: 100%;
    margin-top: 5px;
}

.eachChatMessage {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    overflow-wrap: break-word;
    padding-left: 10px;
}
