/* TODO Add site wide styles */
body {
    background-color: black;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feather {
    height: 20px;
}

.cauldron {
    height: 30px;
}
