* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(#AE0001, #FFED86, #2A623D, #222F5B);
    margin-bottom: 40px;
    background-repeat: no-repeat;
}

.feather {
    height: 23px;
    margin-left: 6px;
    margin-right: 5px;
}

.feather:hover, .cauldron:hover {
    transform: scale(2.1);
}

.cauldron {
    height: 30px;
}

textarea {
    font-family: inherit;
    font-size: inherit;
 }

 #root {
    background: linear-gradient(#AE0001, #FFED86, #2A623D, #222F5B);
 }
