/* TODO Add site wide styles */
body {
    /* background: linear-gradient(.25turn,#AE0001 25%, #FFED86 25% 50%, #2A623D 50% 75%, #222F5B 75% 100%); */
    background: linear-gradient(.25turn,#AE0001, #FFED86, #2A623D, #222F5B);
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feather {
    height: 20px;
}

.cauldron {
    height: 30px;
}
