.frontCommentDisplay {
  justify-content: center;
  align-items: center;
  inline-size: 100px;
  overflow-wrap: break-word;
}

.deckTitle {
  font-size: 14px;
  text-align: center;

}

.editDeleteButtons {
  position: absolute;
}

.feather, .cauldronComment {
  height: 17px;
  padding-left: 5px;
  margin-top: 3px;
}

.feather:hover, .cauldronComment:hover {
  transform: scale(1.1);
}

.featherBio {
  height: 15px;
  left: 235px;
  margin-bottom: 20px;
  margin-top: -5px;
}

.featherBio:hover {
  transform: scale(1.1);
}
