.NavigationBar {
    /* background-image: url("../../assets/castle.jpeg"); */
    background-color: rgba(0,0,0,0.8);
    /* background-size:auto;
    background-repeat: no-repeat;
    background-position: center; */
    /* padding-top: 17.2%;  /* (img-height / img-width * container-width) */
                         /* (853 / 1280 * 100) */
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    max-width: 220px;
}

.logoContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logoImg {
    height:auto;
    max-width: 20vh;
    align-self: center;
}

.navLinkContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.navLinks {
    margin: 2vh;
    background-color: none;
    color: white;
    font-size: 2.5vh;
    font-weight: bolder;
}

button.navLinks {
    background: none;
    border: none;
    bottom: 2vh;
    font-size: 2vh;
    margin-bottom: 5vh;
}

.navLogoutContainer {
    margin-bottom: 10vh;
}
