body {
  color: white;
}

/* body{
    background-color: black;
  }

  .browsePageContainer{
    display: flex;
    flex-direction: row;
    height: 79.5vh;
  }

  .StudyListPageContainer{
    display: flex;
    flex-direction: row;
    height: 79.5vh;
  }


  .browsePosts{
    margin: 25px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;

     -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }


  .studyPostsPage{
    margin: 25px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

     -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;


  }

.homePageStudyPosts{
  margin: 25px;
  width: 40%;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;



}

  .addPostButtonCon {
    display: flex;
    align-items: center;
    height: 10%;
  }

  .addPost{
    height: 50%;
    z-index: 1000;
    color: white;
    background-color: black;
  }

  .addPostButton:hover{
    transform: scale(1.1);
    cursor: pointer;
  }

  .browsePostsTitleContainer{
      color: black;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      align-items: center;
      height: 20%;
  }

  .browsePostsTitle{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }

  .postDisplay{
   border-color: black;
   border-radius: 5px;
   background-color: #27A9E1;
   border: 8px solid;
   border-color: #25a1d6;
   overflow-y: scroll;
   scrollbar-width: thin;
   scrollbar-color: var(--thumbBG) var(--scrollbarBG);


   width: 80%;
   height: 70%;

   display: flex;
   flex-direction: column;

   -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
 }

 .postDisplay::-webkit-scrollbar {
    width: 11px;
  }

  .postDisplay::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }

  .postDisplay::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 5px;
    border: 3px solid var(--scrollbarBG);
  }

  .eachPost{
    display: flex;
    height: 1rem;
    width: 100px;
    height: 50px;
    padding: 25px;
    margin: 2%;
    border-radius: 5px;
    background-color: white;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

    transform:
    rotateX(0deg)
    rotateZ(0deg);
    transform-style: preserve-3d;
    box-shadow:
    10px 10px 1px 0 rgba(34, 33, 81, 0.01),
    10px 10px 5px 0 rgba(34, 33, 81, 0.25);
    transition:
    .4s ease-in-out transform,
    .4s ease-in-out box-shadow;
  }

  .eachPost:hover{
    transform:
    scale(1.1)
    translate3d(0px, -1px, 0px)
    rotateX(0deg)
    rotateZ(2deg);
    box-shadow:
    10px 10px 1px 0px rgba(34, 33, 81, 0.01),
    10px 10px 5px 0px rgba(34, 33, 81, 0.15);
  }

  .eachPost:visited{
  color: black;}

  .title{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    max-width: 100px;
    overflow-wrap: break-word;
    max-height: 80px;
    overflow: hidden;
  }

  .allPosts{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 13px;
    border-color: #f1f1f1;
  }


.allPosts::-webkit-scrollbar {
    width: 11px;
  }
  .allPosts::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  .allPosts::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 5px;
    border: 3px solid var(--scrollbarBG);
  }

  .frontOfPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    overflow: hidden;
}

.no-posts-on-list-message{
  color: white;
  font-size: 20px;
  text-align: center;
}

.noPosts{
  display: flex;
  flex-direction: column;
  align-items: center;
} */
