.allPosts {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.postUserPic {
  width: 4vw;
  height: 4vh;
  border: 2px solid red;
  border-radius: 50%;
}

.postHeader {
  display: flex;
  flex-direction: row;
}

.postContent {
  width: 80%;
}

.postContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 12px 28px rgba(0,0,0,0.12);
}

#root {
  display: flex;
  flex-direction: row;
}
