.eachComment{
    display: flex;
    height: 1rem;
    width: 100px;
    height: 50px;
    padding: 25px;
    margin: 2%;
    border-radius: 5px;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

    transform:
    rotateX(0deg)
    rotateZ(0deg);
    transform-style: preserve-3d;
    box-shadow:
    10px 10px 1px 0 rgba(34, 33, 81, 0.01),
    10px 10px 5px 0 rgba(34, 33, 81, 0.25);
    transition:
    .4s ease-in-out transform,
    .4s ease-in-out box-shadow;
}

.eachComment:hover{
  transform:
  scale(1.1)
  translate3d(0px, -1px, 0px)
  rotateX(0deg)
  rotateZ(2deg);
box-shadow:
  10px 10px 1px 0px rgba(34, 33, 81, 0.01),
  10px 10px 5px 0px rgba(34, 33, 81, 0.15);
  cursor: pointer;

}

.eachComment:visited{
color: black;}

.preview-text {
  height: fit-content;
}
