.authSplashContainer {
  height: 100%;
}

.outerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.innerForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.innerForm input, textarea {
  padding: 10px;
  border: 1px solid #808080;
  width: 70%;
  max-width: 300px;
  background-color: rgba(255, 255, 255, 0.3);
}

.firstInput {
  border-radius: 5px 5px 0 0;
}

.middleInput {
  border-top: none;
  background: none;
  background-color: rgba(255, 255, 255, 0.3);
  width: 70%;
}

.lastInput {
  border-top: none;
  margin-bottom: 10px;
  border-radius: 0 0 5px 5px;
}


.form-button {
  margin: 10px;
  cursor: pointer;
  font-size: larger;
  border: none;
  background: none;
  color: #AE0001;
}

.form-button:first-child {
  color: #222F5B;
}

.errorsList {
  color: red;
  padding-top: 10px;
}

#year {
  margin-left: 10px;
  width: auto;
  height: 3em;
}

#houseSelect {
  margin: 15px;
  height: 35px;
  align-self: center;
}

.yearLabel {
  margin-left: 10%;
}

.houseYearContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bioTextarea {
  font-size:small;
  padding-top: 10px;
  padding-left: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

#bioTextarea::placeholder {
  padding-top: 7px;
  padding-left: 7px;
  font-size:small;
}
